* {
  font-family: Helvetica;
}

.container {
  width: 30%;
  margin: 0 auto;
}

form {
}

form button.create {
  padding: 50px;
}

.post-list {
}

.post {
  padding: 20px 15px;
  transition: 0.2s;
  border-radius: 5px;
  margin: 3em auto;

  display: flex;
  flex-direction: column;

  position: relative;

  background-color: black;
  color: white;
}

.post.presenting {
  padding-left: calc(20px + 3.5em);
}

.post img {
  margin-bottom: 1em;
}

.post span.id {
  font-size: 1.2em;
  font-weight: 700;

  position: absolute;
  top: 17px;
  transform: translate(-145%);
}

.post.presenting:hover {
  background-color: lightcyan;
  color: black;
}

.post label {
  margin-bottom: 5px;
}

.post input {
  align-self: center;

  width: 97%;
  margin-bottom: 10px;
  padding: 5px;
}
