html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

.container {
  background-color: black;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.image-container {
}

#image {
  width: 100%;
  height: auto;
  max-width: 30vw;
}

#author {
  color: white;
  text-align: right;
}
