* {
  font-family: Helvetica;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

.container {
  background-color: black;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.image-container {
}

#image {
  height: calc(100vh - 200px);
}

#author {
  margin: 0;
  padding: 0;

  color: white;
  font-size: 36px;
  text-align: left;
  position: fixed;
  left: 28px;
  bottom: 28px;
}

#copyright {
  color: white;
  font-size: 24px;
  position: fixed;
  right: 28px;
  bottom: 28px;
}
